<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INVENTARIO ACUEDUCTO</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/home.css">

</head>

<body>
  
  <div class="center">
    <div class="card" style="width: 18rem;">
      <i class="bi bi-wrench-adjustable card-img-top icono"></i>
      <div class="card-body ">
        <h5 class="card-title">Ingreso de Material</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="bi bi-clipboard2-data card-img-top icono"></i>
      <div class="card-body">
        <h5 class="card-title">Actualizacion de Inventario</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="bi bi-bell-fill card-img-top icono"></i>
      <div class="card-body">
        <h5 class="card-title">Solicitud de Bodega</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="bi bi-people-fill card-img-top icono"></i>
      <div class="card-body">
        <h5 class="card-title">Proveedores</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="bi bi-bank card-img-top icono"></i>
      <div class="card-body">
        <h5 class="card-title">Solicitud de Material de Proveedores</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="bi bi-person card-img-top icono"></i>
      <div class="card-body">
        <h5 class="card-title">Tecnico</h5>
      </div>
    </div>

  </div>

</body>

</html>