<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccion de proveedores</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Formulario de Selección de Proveedor</h2>
        <form action="procesar_seleccion-provee.php" method="post">
           
            <div class="form-group">
                <label for="proveedor">Seleccionar Proveedor:</label>
                <select class="form-control" id="proveedor" name="proveedor" required>
                    <option value="">Seleccione un Proveedor</option>
                    <option value="proveedor1">Proveedor 1</option>
                    <option value="proveedor2">Proveedor 2</option>
                    <option value="proveedor3">Proveedor 3</option>
                    <option value="proveedor4">Proveedor 4</option>
                    <option value="proveedor5">Proveedor 5</option>
                    <option value="proveedor6">Proveedor 6</option>
                    <option value="proveedor7">Proveedor 7</option>
                    <option value="proveedor8">Proveedor 8</option>
                    <option value="proveedor9">Proveedor 9</option>
                    <option value="proveedor10">Proveedor 10</option>
                    <!-- Agregar más opciones según sea necesario -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Selección</button>
        </form>
    </div>
    <div class="container mt-5">
        <h2>Formulario de Ingreso de Nuevos Proveedores</h2>
        <form action="procesar_seleccion-provee.php" method="post">
        <div class="form-group">
            <label for="nombre">Nombre del Proveedor:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" name="Dirección" required>
        </div>
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="number" class="form-control" id="telefono" name="telefono" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
        </div>
        <div class="form-group">
            <label for="nit">NIT:</label>
            <input type="number" class=" form-control-lg" id="nit" name="NIT" required>
        </div>
        <button type="submit" class="btn-primary"> Guardar</button>
        </form>

    </div>
</body>
</html>